## Lists and strings

In [1]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [2]:
s = 'I love math'
t = s.split()
print(t)

['I', 'love', 'math']

## Some practics

In [4]:
x= int(input("Enter Hours:"))
y = float(input("Enter Rates:"))
a = x * y
print(a)

Enter Hours:35
Enter Rates:2.75
96.25

In [1]:
x = 1
if x > 2 :
    print('Bigger')
else : 
    print('Smaller')
print('All done')

Smaller
All done

In [4]:
x = 20
if x < 2 :
    print('small')
elif x < 10 : 
    print('Medium')
else :
    print('Large')
print('All done')

Large
All done

In [5]:
astr = 'Bob'
try:
    print('Hello') 
    istr = int(astr)
    print('There') 
except:
    istr = -1

print('Done', istr)

Hello
Done -1

In [7]:
x = 5
print('Hello')

def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')

print('Yo')
print_lyrics()
x = x + 2
print(x)

Hello
Yo
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
7

In [11]:
def greet(lang):
    if lang == 'es':
        return 'Hola'
    elif lang == 'fr':
        return 'Bonjour'
    else:
        return 'Hello'
print(greet('en'),'Glenn')

Hello Glenn

In [12]:
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(3, 5)
print(x)

8

In [13]:
def greet():
    return "Hello"

print(greet(), "Glenn")
print(greet(), "Sally")

Hello Glenn
Hello Sally

In [18]:
def max(inp):
    blah
    blah
    for x in inp:
      blah
      blah
    return 'w'
print(x)

8

In [26]:
n = 5
while n > 0:
    print(n)
    n = n - 1
print('Blastoff!')
print(n)

5
4
3
2
1
Blastoff!
0

In [27]:
n = 0
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

Dry off!

In [1]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [2]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends : 
   print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [3]:
for i in [5,4,3,2,1]:
    print(i)

5
4
3
2
1

In [4]:
print('Before')
for thing in [9, 41, 12, 3, 74, 15] :
     print(thing)
print('After')

Before
9
41
12
3
74
15
After

In [5]:
count = 0
sum = 0
print('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print(count, sum, value)
print('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [6]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
 	    print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

In [7]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] : 
   if value == 3 :
       found = True
   print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [8]:
smallest_so_far = -1
print('Before', smallest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num < smallest_so_far :
      smallest_so_far = the_num
   print(smallest_so_far, the_num)

print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [9]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [10]:
fruit = 'banana'
x = len(fruit)
print(x)

6

In [11]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [12]:
fruit = 'banana'
for letter in fruit : 
    print(letter)
index = 0
while index < len(fruit) :
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a
b
a
n
a
n
a

In [13]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' : 
       count = count + 1
print(count)

3

In [14]:
for letter in 'banana' :
    print(letter)

b
a
n
a
n
a

In [15]:
fruit = 'banana'
'n' in fruit

True

In [16]:
if 'a' in fruit:
    print('Found it!')

Found it!

In [17]:
if word == 'banana':
    print('All right, bananas.')

if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.
All right, bananas.

In [18]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value     
    count = count + 1

average = total / count
print('Average:', average)

Enter a number: 23
Enter a number: 56
Enter a number: 35
Enter a number: 78
Enter a number: done
Average: 48.0

In [19]:
line ='A lot of spaces' 
x = line.split()
print(x)

['A', 'lot', 'of', 'spaces']

In [20]:
print(len(line))

15