In [1]:
#L5Q1
#a. Enter the statement to import the math module.
#b. Calculate the volume of the sphere with radius 10, ( V  
#c. Display its value.
from math import pi as PI
R = 10
V = 4/3*PI*R*R**2 
print(V)

4188.79020478639

In [2]:
#L5Q2
#a.Enter the following statements:from math import pi as PI,radius = 10
#b.Run the program from within IDLE by choosing the Run > Run Module option.
#c.In the interactive shell, display the values of PI and radius.
#d.Enter an expression to calculate the area of the circle. and display its value.
from math import pi as PI
Radius= 10
print(Radius)
10
print(PI)
3.141592653589793
print(Radius)
10
Area = PI*Radius**2
print(Area)

10
3.141592653589793
10
314.1592653589793

In [2]:
temperature = float(input("Enter the temperature:"))
if temperature <=10 :
    print('Haha')

Enter the temperature:4
Haha

In [6]:
T = float(input("Enter T:"))
if T <= 10:
    print('Smaller')
if T >20: 
    print('Bigger')
print("Finish")

Enter T:23
Bigger
Finish

In [10]:
ord("B")

66

In [11]:
ord("b")

98

In [12]:
 x = 5
 if x > 2 :
     print('Bigger than 2')
     print('Still bigger')
 print('Done with 2')

 for i in range(5) :
     print(i)
     if i > 2 : 
         print('Bigger than 2')
     print('Done with i', i)
 print('All Done')

Bigger than 2
Still bigger
Done with 2
0
Done with i 0
1
Done with i 1
2
Done with i 2
3
Bigger than 2
Done with i 3
4
Bigger than 2
Done with i 4
All Done

In [13]:
if x > 2 :
    print('Bigger')
else :
    print('Smaller')
print('All done')

Bigger
All done

In [14]:
x = 1

In [15]:
if x > 2 :
    print('Bigger')
else :
    print('Smaller')
print('All done')

Smaller
All done

In [16]:
mark = int(input("Enter your marks: "))

if mark >= 80:
    	print("Congratulations, you have scored an A!")

elif mark >= 70:
    	print("Congratulations, you have scored a B!")

elif mark >= 60:
    	print("Congratulations, you have scored a C!")

elif mark >= 50:
    	print("Congratulations, you have scored a D!")
else:
    	print("You have scored an N!")
    	print("Unfortunately, you did not pass!")

Enter your marks: 87
Congratulations, you have scored an A!

In [17]:
citizen = input("Are you a citizen of Australia (y/n)? ")
if citizen == 'n':
    	print("You are not eligible to vote.")
else:
    	age = int(input("How old are you (on your last birthday)? "))
    	if age < 18:
        		print("You are too young to vote")
    	else:
        		print("You are eligible to vote")

Are you a citizen of Australia (y/n)? y
How old are you (on your last birthday)? 24
You are eligible to vote

In [19]:
n=1
while n<=100:
    #print(n)
    n=n+1
    print(n)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [20]:
n = 2 
while n <= 10:
    	print(n)
    	n = n + 2

2
4
6
8
10

In [22]:
response = "y"
while response =="y":
    print("Hello!")
    response = input("Continues? (y/n):")

Hello!
Continues? (y/n):y
Hello!
Continues? (y/n):y
Hello!
Continues? (y/n):n

In [24]:
keepLooping = True
while keepLooping: 
    	print("Hello")
    	userResponse = input("Continue?(y/n): ")
    	keepLooping = userResponse == "y"

Hello
Continue?(y/n): y
Hello
Continue?(y/n): y
Hello
Continue?(y/n): n

In [27]:
for n in range(1,5):
    print(n)

1
2
3
4

In [26]:
range(1,5)

range(1, 5)

In [28]:
range(0,10,2)

range(0, 10, 2)

In [29]:
for n in range(0,10,2):
    print(n)

0
2
4
6
8

In [30]:
marks = [60, 50, 40, 20, 90]
count = 0
for m in marks:
    if m >= 50:
        print(m)
        count = count + 1
passRate = count / len(marks)
print("The pass rate is", round(passRate * 100), "%")

60
50
90
The pass rate is 60 %

In [31]:
start = 1
end = 16
for n in range(start, end+1):
print(n, 2**n)

1 2
2 4
3 8
4 16
5 32
6 64
7 128
8 256
9 512
10 1024
11 2048
12 4096
13 8192
14 16384
15 32768
16 65536

In [32]:
size = 5
for n in range(1, size+1):
    spaces = size - n
    stars = 2*n - 1
    line = "." * spaces + "*" * stars
    print(line)

....*
...***
..*****
.*******
*********